<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shooooty, just shoot it!</title>
    <script src="../static/js/jquery-min1.11.3.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/flat-ui.min.js"></script>
    <script src="../static/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" type="text/css" href="../static/css/flat-ui.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery.dataTables.min.css">

    <link rel="shortcut icon" href="../static/icon.png"/>

    <script>
        var tableObj;
        var targetUrl;
        if (window.location.protocol === 'https:') {
            targetUrl = 'https://project-curtain.avosapps.com/getAllPages';
        } else {
            targetUrl = 'http://project-curtain.avosapps.com/getAllPages';
        }
        $.post(targetUrl, {options: ""}, function (data) {
            var jsonroot = JSON.parse(data);
            console.log(jsonroot);
            //处理data
            var dataset = [];
            for (var i = 0; i < jsonroot.length; i++) {
                dataset.push([jsonroot[i].page_url, jsonroot[i].user_num, ''])
            }
            if (!tableObj) {
                tableObj = $("#hot_channel").dataTable({
                    "data": [],
                    "fnCreatedRow": function (nRow, aData, iDataIndex) {
//                        console.log('nRow=' + nRow)
//                        console.log('aData=' + aData)
//                        console.log('iDataIndex=' + iDataIndex)
                        $('td:eq(' + (2) + ')', nRow)
                                .append("<button style ='float:left' class='btn btn-info' onclick=openURL('" + aData[0] + "')>加入频道</button>");
                    },
                    "columns": [
                        {"title": "URL"},
                        {"title": "人数"},
                        {"title": "操作"}
                    ]
                });
                if (jsonroot.length > 0) {
                    tableObj.fnAddData(dataset);
                }
            }
            else {
                tableObj.fnClearTable();
                if (jsonroot.length > 0) {
                    tableObj.fnAddData(dataset);
                }
                //console.log();
            }
        });

        function openURL(url) {
//            alert(url)
            window.open(url);
        }

    </script>

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <!--<div class="span12">-->
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h1>
                Shooooty热门频道
            </h1>

            <p>
                本页面展示了当前的热门频道以及相应的人数，如果表格为空，则表示当前没有任何用户观看，快去开辟新大陆吧！
            </p>

            <p>
                <a class="btn btn-primary btn-large" onclick="openURL('http://namitor.github.io/Shooooty') ">Shooooty主页
                    »</a>
            </p>
        </div>
        <div class="col-md-2">
        </div>
        <!--</div>-->
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <h3>
                当前频道人数列表
            </h3>
            <table class="table" id="hot_channel">
            </table>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
</body>
</html>