<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shooooty, just shoot it!</title>
    <script src="../static/js/jquery-min1.11.3.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/flat-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/flat-ui.min.css">


</head>
<body>
<div class="nav navbar-inverse">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <span>当前的频道人数</span>

            <div class="col-md-12">湖南卫视</div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

</body>
</html>