<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Test In Loacal</title>
    <script src="./static/jquery-min1.11.3.js"></script>
    <script src="./static/test-function.js"></script>
</head>
<body>
<p><button id="initBtn">test init</button></p>
<p><button id="postBtn">test post</button></p>
<p><input id="bullet" type="text" size="80">
<button id="shootBtn">
    shoot
</button></p>
<p><button id="logoutBtn">test logout</button></p>
<p><button id="getNumBtn">test getNum</button></p>
<p><button id="getAllPages">test getAllPages</button></p>
</body>
</html>